 <nav>
  <div class="nav-wrapper container">
    <a href="<%= root_path %>" class="brand-logo">ORG</a>
    <ul class="right hide-on-med-and-down">
      <li class='active'><%= link_to "Home", root_path %></li>
      <li><%= link_to "Tags", tags_path %></li>
      <% if user_signed_in? %>
        <li><strong><%= current_user.email %></strong></li>
        <!-- <li><%= link_to 'Edit profile', edit_user_registration_path %></li> -->
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>