<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul class='ul-unstyled'>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'validate' %>
  </div>

  <div class="input-field">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, class: 'validate' %>
  </div>

  <div class="row">
    <div class="input-field col s9">
      <%= form.label :url %>
      <%= form.url_field :url, class: 'validate' %>
    </div>

    <div class="input-field col s3">
      <%= link_to 'Check URL', fetch_url_links_path, id: 'check-url', class: 'btn', data: { remote: true, clean_url: fetch_url_links_path } %>
    </div>
  </div>

  <div class="input-field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'validate materialize-textarea' %>
  </div>

  <div class="input-field">
    <p>
      <label>
        <%= form.check_box :public, class: 'filled-in' %>
        <span>Public</span>
      </label>
    </p>
  </div>

  <div class="actions">
    <%= form.submit 'Save link', class: 'btn col s12' %>
  </div>
<% end %>
