<h1>Links</h1>

<p><%= link_to 'New Link', new_link_path, class: 'btn' %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Public</th>
      <th>User</th>
      <th>Tags</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.description %></td>
        <td><%= link.public %></td>
        <td><%= link.user.email %></td>
        <td><%= link.tag_list %></td>
        <td><%= link_to 'Visit', link.url, target: '_blank' %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>