<h1>Link: <%= @link.title %></h1>

<p>
  <strong>Desc:</strong>
  <%= @link.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @link.url, @link.url %>
</p>

<p>
  <strong>Public:</strong>
  <%= @link.public %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user.email %>
</p>

<p>
  <strong>Tags:</strong>
  <% @link.tag_list.each do |tag| %>
    <%= link_to tag, tag_path(tag) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
