<div class="row">
  <div class="col s8 offset-s2 centered">
    <h3><%= @link.title %></h3>

    <p>
      <%= link_to @link.url, @link.url %>
    </p>

    <p>
      <b>Description:</b>
      <%= @link.description %>
    </p>

    <p>
      <b>User:</b>
      <%= current_user_is_admin? ? @link.user.email : '-' %>
    </p>

    <p>
      <%= @link.public ? 'PUBLIC' : 'PRIVATE' %>
    </p>

    <p>
      <b>Tags:</b>
      <% @link.tag_list.each do |tag| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %>
    </p>

    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Back', links_path %>
  </div>
</div>