<!DOCTYPE html>
<html>
  <head>
    <title>Org</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <navbar id="navbar">
      <span class="notice"><%= notice %></span><span class="alert"><%= alert %></span>
      <%= render 'shared/navbar' %> 
    </navbar>
    
    <%= yield %>
    <%= debug params %>
  </body>
</html>
